<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace约定为接口的全限定名-->
<mapper namespace="com.qf.mapper.CategoryMapper">

    <select id="selectCategory" resultType="Category">
        select * from tb_category
    </select>

    <select id="selectCategoryById" resultType="Category">
        select * from tb_category where category_id = #{categoryId}
    </select>

</mapper>