<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace约定为接口的全限定名-->
<mapper namespace="com.qf.mapper.GoodsMapper">

    <select id="selectByPageAndWhere" resultType="goods">
        select * from tb_category tc inner join tb_category_brand tcb on tc.category_id = tcb.fk_category_id
        inner join tb_goods tg on tcb.fk_brand_id = tg.goods_brand_id

        <where>
            <if test="categoryId != null">
                 tc.category_id = #{categoryId}
            </if>
            <if test="goodsBrandId != null">
                and tg.goods_brand_id = #{goodsBrandId}
            </if>
        </where>
    </select>


</mapper>